@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

:root {
  --azul: rgb(153, 209, 246);
  --azul-escuro: rgb(12, 35, 83);
  --icone-claro: rgb(245, 230, 100);
  --icone-escuro: rgb(224, 221, 207);

  --destaque: rgb(122, 122, 122);
  --fundo: rgb(204, 204, 204);
  --fundo-li: rgb(255, 255, 255);
  --texto: rgb(71, 71, 71);
}

body {
  border: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: var(--fundo);
}

h1 {
  text-align: center;
  margin: 2em 0;
  color: var(--destaque);
  font-size: 3em;
}

ul {
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

li {
  padding: .5em 2em;
  margin-bottom: 1em;
  background: var(--fundo-li);
  border-radius: 5px;
  color: var(--texto);
  font-size: 1.1em;
}

/* botão de modo noturno*/

#botao-troca {
  position: absolute;
  top: 10px;
  left: 30px;
}

#botao-troca button{
  position: absolute;
  top: 10px;
  left: 30px;
  width: 50px;
  height: 25px;
  background: var(--azul-escuro);
  border-radius: 10px;
  border: 0;
  cursor: pointer;
}

#icon-botao {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 15px;
  height: 15px;
  clip-path: circle(50% at 50% 50%);
  background: var(--icone-escuro);
  transition: 1s; 
} 

